<html>

<head>
    <title>MCaptcha</title>
    {{>css}}
</head>

<body class="dark">
    {{>navbar}}

    <div class="container container-base w-50 text-center">
        {{{body}}}
    </div>
</body>

{{>js}}

</html>