<html>

<head>
    <title>MCaptcha</title>
    {{>css}}
</head>

<body class="dark">
    {{>navbar}}

    <div class="container container-base w-50">
        <div class="d-flex justify-content-center">
            {{{body}}}
        </div>
    </div>
</body>

{{>js}}

</html>